{% extends 'base.html.twig' %}

{% block title %}New Subsidiary{% endblock %}

{% block body %}
    <h1>Create new Subsidiary</h1>

    {{ include('subsidiary/_form.html.twig') }}

    <a href="{{ path('subsidiary_index') }}" class="btn btn-secondary col-md-6 mb-3">Regresar al Listado</a>
{% endblock %}
